.workers {
    background-color: var(--primary-background-color-2);
  }
  .worker-no-gap {
    display: block;
  }
  .workers__section {
    display: flex;
    text-align: center;
  }
  .workers__item {
    margin-right: 30px;
    width: calc((100% - 60px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    &:last-child {
        margin-right: 0px;
      }
  }

  
  .worker__name {
    margin-top: 0;
    margin-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .worker {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .worker__position {
    margin-top: 0px;
    margin-bottom: 16px;
  
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.2;
  }
  